
h1{ font-weight: 600;
    font-size: 40px;
    color: steelblue;
}
h2{font-weight: 600;
    font-size: 30px;
    color: slateblue;
    text-align: center;
}
h4{font-weight: 600;
    color: rgb(57, 46, 131);
}
.p0{ font-size: 20px;
    text-align: right;
    margin-right: 5px;
    padding: 15px;
}
p{font-weight: 600;
   font-size: 25px;
}
.p{ font-size: 15px;
    text-align: center;
}
.p1{
    font-size: 40px;
    text-align: center;
}
body{
    padding: 5px 5px 5px 5px;
    margin: 5px 5px 5px 5px;
    font-family: 'Nunito', sans-serif; 
}
.half-width{
    width: 40%;
    float:left;
    margin: 5%;
    padding left: 2% ;

}
.half-width img{
    align-content: center;
    width: 60%;
}
.highlight{
    color: tomato;
}
.link-button{
    text-decoration: none;
    background-image: linear-gradient(45deg, tomato, red);
    color: whitesmoke;
    padding: 10px 20px;
    border-radius: 25px;
   
}
.top-banner{
    background-color: white;
    
}
section{
    height: 500px;
    padding-bottom: 10px;
}
.mid-banner{
    background-color: white;
}
.other-half{
    width: 40%;
    float:left;
    margin: 5%;
    padding left: 2% ;
}
.other-half img{
    align-content: center;
    width: 60%;
}
.highlight3{
    color: rgb(212, 101, 82);
}
.thired-half h2{
    text-align: center;
   
}
.buttom-banner{
    background-color: whitesmoke
}

.third-half{ 
   
    height: 500px;
    font-weight: 800;
    width: 100%;
    margin-bottom: 10px;
    margin: 3%;
    padding: 1% ;
}
.box{
    
   height: 300px;
   width: 30%;
    border-radius: 5px;
    float:left;
   margin: 1px;
   padding: 1px;
}

.box img{
     height:250px;
    width: 90%;
    margin: 10px;
    padding: 0% ;
} 
    
.last-blue{
    width: 60%;height:250px;
    background-image: url("lastpart.png");
    background-position: center;
    background-size: cover;
    margin-left: 300px;
    border-radius: 100px;
}
.last1{
   text-align: center;
    font-size: 30px;
    color: rgb(229, 230, 240);
    padding: 110px;
    margin-top: 3px;
    float: left;
   
}
.last2{
    text-align: center;
    
    padding: 110px;
    margin-top: 5px;
    float: right;
}
.last-button{
    text-decoration: none;
    background-image: linear-gradient(45deg, tomato, red);
    color: whitesmoke;
    padding: 10px 5px;
    border-radius: 5px;
   
}
.last-line img{
    margin-left: 300px;
    size: .05px;
    padding: 0px;
}